/* Feuille de style - Exercice Autonome */

/* Reset basique */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TODO: Ajouter un style pour body (police, couleur de fond) */


/* TODO: Ajouter un style pour nav (fond coloré, centré) */


/* TODO: Ajouter un style pour les liens de nav */


/* TODO: Ajouter un style pour header */


/* TODO: Ajouter un style pour main (largeur max, centré, fond blanc) */


/* TODO: Ajouter un style pour article (espacement, bordure en bas) */


/* TODO: Ajouter un style pour les titres h1, h2, h3 */


/* TODO: Ajouter un style pour les paragraphes */


/* TODO: Ajouter un style pour les liens */


/* TODO: Ajouter un style pour footer */
